.Modal {
  position: absolute;
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  padding: 10px;
  background-color: rgba(255, 255, 255);
}

.Overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.display-topright {
  position: absolute;
  right: -5px;
  top: -5px;
}