.card {
  border: 1px solid #d3d3d3;
  border-radius: .25rem;
  text-align: center;
}

.title {
  min-height: 30px;
  background-position: center;
  background-color: #ccc;
}
.bgImg {
  background-size: cover;
  background-position: center;
  background-color: #ccc;
}
.content {
  padding: 5px;
}

button {
  background-color: transparent;
  border: 1px solid #2196F3;
  padding: .5rem 1rem;
  cursor: pointer;
  border-radius: .25rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5px;

}
.pagination {
  margin: 5px;
}
.pagination button {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}
.pagination button:disabled {
  background-color: rgb(155, 148, 148);
}
.pagination button:hover {background-color: #ddd;}

.favoritsButon {
  cursor: pointer;
  border: 1px solid #ddd;
  max-width: 250px;
  padding: 15px;
  border-radius: 5px;
  display: inline-block;
}
.favoritsButon:hover {background-color: #ddd;}

.addFavIcom {
  padding: 5px;
  float: left;
  cursor: pointer;
}

.showIcom {
  padding: 5px;
  float: right;
  cursor: pointer;
}